.git
.github
.idea
.fleet
.vscode
.env
.env.example
.styleci.yml
.editorconfig
.gitignore
/tests
/vendor
/node_modules
/public/storage
/storage/app
/storage/framework
/storage/logs
/bootstrap/cache/*.php
docker-compose.yml
README.md
pint.json
phpunit.xml